<!DOCTYPE html>
<html>
<head>
  <title>ChaguoLako</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= link_to image_tag("/assets/nds_logo.jpg"), root_path, :class => "logo" %>
	<h1>Chagua Lako</h1>
	<a href="<%= root_path %>" class="logo">this</a>
	<hr/>

<%= yield %>

</body>
</html>
